/* ---------------------------------------- */
/* BELOW 1280px (Smaller desktops/ laptops) */
/* ---------------------------------------- */

@media (max-width: 80em) {
  html {
    /* 9px (previously 10px) 9/16=56.25 */
    font-size: 56.25%;
  }

  .container {
    max-width: 120rem;
  }

}


/* ---------------------------------------- */
/* BELOW 1088px (Landscape tablets) */
/* ---------------------------------------- */

@media (max-width: 68em) {
  .container {
    max-width: 100rem;
  }

  .section-hero {
    padding: 4.8rem 0 7.2rem 0;
  }

  .heading-primary {
    font-size: 5.2rem;
  }

  .hero-emphasis {
    font-size: 6.2rem;
  }

  .heading-secondary {
    font-size: 4.2rem;
  }

  .portfolio-gallery {
    grid-template-columns: repeat(4, 1fr);
    /* grid-template-columns: repeat(3, 1fr); */
  }

  .why-djs-boxes {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .why-djs-box {
    max-width: 36rem;
  }

  .why-djs-box:nth-child(odd) {
    justify-self: end;
  }

  .why-djs-box:nth-child(even) {
    justify-self: start;
  }

  .section-portfolio,
  .section-testimonials,
  .section-why-djs,
  .section-how,
  .section-cta,
  .footer {
    padding: 7.2rem 1.6rem;
  }

  .how-to-step {
    padding: 1rem;
  }

}


/* ---------------------------------------- */
/* BELOW 960px (Portrait tablets) */
/* ---------------------------------------- */

@media (max-width: 60em) {
  html {
    font-size: 50%;
  }

  .header {
    padding: 2.4rem 1.6rem 0 1.6rem;
  }

  .hero {
    padding: 0 1.6rem;
  }

  .heading-primary {
    font-size: 4.8rem;
  }

  .hero-emphasis {
    font-size: 5.6rem;
  }

  .hero-img-box {
    border: none;
    padding: 0;
  }

  .hero-img {
    width: 100%;
  }

  .featured-logo {
    height: 2.6rem;
  }

  .featured-logo-link:link,
  .featured-logo-link:visited {
    font-size: 1.25rem;
  }

  .hero-img-box::after {
    display: none;
  }

  .grid-container--2cols {
    gap: 6rem;
  }

  .how-to-step::before {
    display: none;
  }
}


/* ---------------------------------------- */
/* BELOW 752px (Smaller tablets) */
/* ---------------------------------------- */

@media (max-width: 47em) {

  .header {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  .header a {
    grid-column: 2 / 3;
    justify-self: center;
  }

  .header nav {
    display: none;
    visibility: hidden;
  }

  .header-hamburger {
    display: block;
    visibility: visible;
    font-size: 3.2rem;
    grid-column: 3 /4;
    /* justify-self: right; */
    justify-self: center;
  }

  .grid-container--2cols {
    grid-template-columns: 1fr;
    justify-content: center;
  }

  .grid-container--3cols {
    grid-template-columns: repeat(2, 1fr);
  }

  .section-hero {
    text-align: center;
    padding: 0 3.2rem;
  }

  .hero-description {
    width: 75%;
    margin: 0 auto 3.2rem auto;
  }

  .featured-logos-group {
    justify-content: center;
  }

  .hero-img {
    display: none;
  }

  .portfolio-gallery {
    /* grid-template-columns: repeat(3, 1fr); */
  }


  .testimonial-card:link,
  .testimonial-card:visited {
    position: relative;
    background-color: transparent;
  }

  .testimonial-img-box {
    width: 100%;
    position: absolute;
    z-index: -1;
  }

  .testimonial-img {
    width: 100%;
    height: auto;
    filter: brightness(30%);
    /* filter: saturate(130%); */
  }

  .testimonial-card:hover .testimonial-author {
    color: #951212;
  }

  .testimonial-text-group {
    z-index: 0;
  }

  .testimonial-text-group::after,
  .testimonial-text-group::before {
    display: none;
    visibility: hidden;
  }


  .footer--grid {
    grid-template-columns: 1fr;
    gap: 4rem;
    text-align: center;
  }

  .footer--social-col {
    grid-row: 1;
  }

  .copyright {
    margin-bottom: 0;
  }

  .footer--newsletter-col {
    max-width: 50%;
  }

  .newsletter-sign-up {
    flex-direction: column;
  }


}






/* ---------------------------------------- */
/* BELOW 752px (Smaller tablets) */
/* ---------------------------------------- */

@media (max-width: 47em) {






  /* ****Switch to using flexbox for gallery grid instead??? */




  /* .heading-tertiary {
    font-size: 2.4rem;
  } */

  /* .section-how .grid-container--3cols {
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
  } */

  /* .gallery {
  grid-template-columns: repeat(2, 1fr);
} */

  /* .grid {
    column-gap: 4.8rem;
    row-gap: 6.4rem;
  } */

  /* .header {
    padding: 0 3.2rem;
  } */

  /* .main-nav-list {
    gap: 3.2rem;
  } */

  /* .hero {
    gap: 4.8rem;
  } */

  /* .testimonials-container {
    padding: 9.6rem 3.2rem;
  } */