/* ------------------------ */
/* HEADER */
/* ------------------------ */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2.4rem 6.4rem 0 6.4rem;
  max-width: 180rem;
  margin: 0 auto;
}

.djs-logo {
  width: 22rem;
}

.nav-list {
  display: flex;
  gap: 3.2rem;
  list-style: none;
}

.nav-item:link,
.nav-item:visited {
  font-size: 1.8rem;
  font-weight: 600;
  text-decoration: none;
  color: inherit;
  padding: 0 0.6rem 0.3rem 0.6rem;
  border-bottom: 2px solid transparent;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.nav-item:hover,
.nav-item:active {
  color: #b62e0f;
  border-bottom: 2px solid #b62e0f;
}

.header-hamburger {
  display: none;
  visibility: none;
}



/* ------------------------ */
/* HERO SECTION */
/* ------------------------ */

.section-hero {
  padding: 9.6rem 0 12.8rem 0;
  /* background-color: #edf6fd; */
  /* background-color: #e0e8f8; */
  /* background-color: #fff; */
}

.hero {
  /* max-width: 130rem;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 9.6rem; */
  align-items: center;
}

.hero-emphasis {
  font-family: 'Birthstone Bounce', cursive;
  font-size: 7.4rem;
  /* gradient text below */
  /* background: linear-gradient(#951212, #b62e0f);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; */

  /* gradient underline below */
  /* background: linear-gradient(to right, #951212, #f2aaaa, #951212);
  background-position: 0 100%;
  background-size: 100% 4px;
  background-repeat: repeat-x; */
}

/* position: relative;
}

.hero-emphasis::before {
  content: "";
  position: absolute;
  left: -0.5rem;
  bottom: 0.8rem;
  width: 18rem;
  height: 3rem;
  transform: skew(-18deg);
  background-color: #e0e8f8bc;
  z-index: -1;
}

.hero-emphasis--shorter::before {
  width: 15rem;
} */

.hero-description {
  font-size: 1.8rem;
  line-height: 1.5;
  margin-bottom: 3.2rem;
}

.featured-logos-group {
  display: flex;
  gap: 3.8rem;
  margin-top: 6.4rem;
  justify-content: flex-start;
  align-items: center;
}

.featured-logo {
  height: 3.2rem;
  filter: brightness(0) opacity(75%);
}

.featured-logo-link:link,
.featured-logo-link:visited {
  font-size: 1.4rem;
  font-weight: 600;
  text-decoration: none;
  color: inherit;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: center;
  transition: all 0.3s;
}

.featured-logo-link:hover,
.featured-logo-link:active {
  transform: scale(1.2);
}

.hero-img-box {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3rem 1rem;
  border: 7px double #b62e0f;
  border: 7px double #183d5d;
}

.hero-img-box::after {
  content: "";
  height: 150%;
  width: 75%;
  border: 7px double #b62e0f;
  border: 7px double #183d5d;
  position: absolute;
  z-index: -1;
  /* box-shadow: 0 0 0 3.2rem orange; */
}

.hero-img {
  width: 90%;
}


/* ------------------------ */
/* PORTFOLIO SECTION */
/* ------------------------ */

.section-portfolio {
  padding: 9.6rem 0;
  background-color: #183d5d;
}

/* for 3x5 gallery, use below two rules: */
.portfolio-gallery {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 1.6rem;
}

.portfolio-img-link-box:link,
.portfolio-img-link-box:visited {
  height: 22rem;
  /* width: 22rem; */
  overflow: hidden;
  display: flex;
  justify-content: center;
  transition: all 0.4s;

  position: relative;
}


/* for 3x3 gallery, use below two rules: */
/* .portfolio-gallery {
  width: 79rem;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

.portfolio-img-link-box:link,
.portfolio-img-link-box:visited {
  height: 25rem;
  width: 25rem;
  overflow: hidden;
  display: flex;
  justify-content: center;
  transition: all 0.4s;
  position: relative;
} */

.portfolio-img-link-box:hover,
.portfolio-img-link-box:active {}

/* the following two rules must be written in this order for the hover to work properly */
/* see: https://css-tricks.com/hover-on-everything-but/ */

.portfolio-gallery:hover .portfolio-img {
  filter: grayscale(1) brightness(0.35);
}

.portfolio-img-link-box:hover .portfolio-img {
  filter: brightness(1.15);
  transform: scale(1.2);
}

.portfolio-img {
  height: 100%;
  width: auto;
  transition: all 0.4s;
}

.portfolio-project-link {
  width: 100%;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.2;
  color: #333;
  background-color: rgba(255, 255, 255, 0.75);
  padding: 0.7rem;
  position: absolute;
  bottom: 0;
  opacity: 0;
  transition: all 0.4s;
}

.portfolio-img-link-box:hover .portfolio-project-link {
  opacity: 1;
}

/* tried below method to add message on hover only, but it is a functional part of the page, so probably better to be in the html for accessibility, also was struggling to set transition */
/* .portfolio-img-link-box:hover::after {
  content: "See more of this project";
  width: 100%;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.2;
  color: #333;
  background-color: rgba(255, 255, 255, 0.75);
  padding: 0.7rem;
  position: absolute;
  bottom: 0;
} */
/* border: 1px solid #333; */
/* border-radius: 4px; */
/* transform: translate(0, -50%); */


/* ------------------------ */
/* TESTIMONIALS SECTION */
/* ------------------------ */

.section-testimonials {
  padding: 9.6rem 0;
}

.testimonials {
  /* width: 85rem; */
  width: 60%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 4.8rem;
}

.testimonial-card:link,
.testimonial-card:visited {
  display: flex;
  align-items: center;
  overflow: hidden;
  text-decoration: none;
  color: #fff;
  background-color: #951212;
  /* background gradients don't work with transitions, so it's immediate instead of gradual on hover */
  /* background-image: linear-gradient(to bottom right, #951212, #b62e0f); */
  transition: all 1s;
}

.testimonial-card:hover,
.testimonial-card:active {
  background-color: #333;
  transform: scale(1.1);
}

.testimonials .testimonial-card:focus {
  box-shadow: 0 0 0 0.8rem #183d5d;
}

.testimonial-img-box {
  /* width: 40rem; */
  width: 40%;
  background-color: aqua;
}

.testimonial-img {
  filter: none;
  transition: all 0.4s;
  width: 100%;
}

.testimonial-card:hover .testimonial-img {
  filter: grayscale(1) brightness(0.6);
}

.testimonial-text-group {
  padding: 3.2rem 4.8rem;
  position: relative;
}

.testimonial-text-group::before {
  content: "\“";
  font-size: 30rem;
  font-family: 'Times New Roman', serif;
  opacity: 10%;
  position: absolute;
  left: -0.5%;
  top: -40%;
}

.testimonial-text-group::after {
  content: "\”";
  font-size: 30rem;
  font-family: 'Times New Roman', serif;
  opacity: 10%;
  position: absolute;
  left: 70%;
  top: 60%;
}

.testimonial-text {
  font-size: 1.8rem;
  line-height: 1.6;
  margin-bottom: 1.6rem;

  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
  overflow: hidden;
}

.testimonial-author {
  font-size: 1.6rem;
  margin-left: 1.6rem;
  color: #f2aaaa;
  transition: all 0.4s;
}

.testimonial-card:hover .testimonial-author {
  color: #888;
}


/* ------------------------ */
/* WHY DJ'S SECTION */
/* ------------------------ */

.section-why-djs {
  padding: 9.6rem 0;
  /* background-color: #e0e8f8; */
  background-image:
    linear-gradient(#e0e8f8b1, #e0e8f8b1),
    url(../img/testimonial-michael.png);
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: cover;
}

.why-djs-boxes {
  margin-bottom: 4.8rem;
}

.why-djs-box {
  background-color: #fff;
  border-radius: 9px;
  border-radius: 4px;
  overflow: hidden;
  box-shadow: 0 3.2rem 6.4rem rgba(24, 61, 93, 0.2);
}

.why-djs-icon {
  width: 5rem;
  color: #b62e0f;
  margin: 3.2rem auto;
  display: block;
}

.why-djs-description {
  font-size: 1.8rem;
  line-height: 1.6;
  padding: 0 2.4rem 3.2rem 2.4rem;
}


/* ------------------------ */
/* HOW IT WORKS SECTION */
/* ------------------------ */

.section-how {
  padding: 9.6rem 0;

  /* background-image:
    radial-gradient(rgba(224, 232, 248, 0.5), rgba(24, 61, 93, 0.5)),
    radial-gradient(rgba(24, 61, 93, 0.7), rgba(24, 61, 93, 0.9)),
    url("../img/progress.png");
  background-repeat: no-repeat;
  background-size: cover; */
}

.how-to-step {
  padding: 3.8rem;
  position: relative;
  /* background-color: rgba(255, 255, 255); */
  /* height: 40rem; */
}

.how-to-step::before {
  content: "";
  /* border: 5px solid #b62e0f; */
  border-width: .5rem;
  border-style: solid;
  border-image: linear-gradient(to bottom, #b62e0f, #f2aaaa) 5;
  border-right: none;
  min-height: 35rem;
  width: 3rem;
  display: block;
  position: absolute;
  transform: translate(-3rem, -1rem);
}

/* .how-to-step::before {
  content: "";
  border: 5px solid #b62e0f;
  border-bottom: none;
  width: 34rem;
  height: 1.8rem;
  display: block;
  position: absolute;
  transform: translate(-2rem, -3rem);
} */

/* .how-to-step::after {
  content: "";
  border: 5px solid #b62e0f;
  border-top: none;
  width: 34rem;
  height: 1.8rem;
  display: block;
  position: absolute;
  transform: translate(-2rem, 3rem);
} */

.step-number {
  color: #e0e8f8;
  font-size: 8rem;
  font-weight: 700;
  margin-bottom: 2.4rem;
}

/* .step-number::before {
  content: "";
  border: 5px solid #b62e0f;
  border-right: none;
  height: 3rem;
  width: 1.8rem;
  display: block;
  position: absolute;
} */

.step-title {
  font-size: 2.4rem;
  font-weight: 600;
  margin-bottom: 1.8rem;
}

.step-description {
  font-size: 1.8rem;
  line-height: 1.6;
}


/* ------------------------ */
/* CTA SECTION */
/* ------------------------ */

.section-cta {
  padding: 7.2rem 0 9.6rem 0;
}

.container--cta {
  background-color: #183d5d;
  max-width: 70rem;
  margin: 0 auto;
  padding: 6.4rem;
}

.heading-tertiary.cta-heading {
  color: #fff;
}

.cta-greeting {
  font-size: 1.6rem;
  line-height: 1.4;
  color: #e0e8f8;
  margin-bottom: 3.2rem;
}

.cta-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 3.2rem;
  row-gap: 2.4rem;
  margin-bottom: 1.4rem;
}

.cta-label {
  color: #e0e8f8;
  font-size: 1.6rem;
  display: block;
  margin-bottom: 0.75rem;
}

.cta-text-box {
  border: none;
  display: block;
  width: 100%;
  font-size: 1.6rem;
  line-height: 1.4;
  color: #333;
  font-family: 'Source Sans Pro', sans-serif;
}

.cta-email-container,
.cta-remodel-type-container,
.cta-message-container,
.cta-btn {
  grid-column: 1 / -1;
}

.cta-remodel-type-container {
  display: flex;
  justify-content: space-around;
  border: none;
}

.cta-remodel-type--label {
  color: #fff;
  font-size: 1.4rem;
  cursor: pointer;
}

.cta-remodel-type--button:hover {
  cursor: pointer;
}

.cta-btn {
  color: inherit;
  font-family: inherit;
  font-weight: 600;
  background-color: #f2aaaa;
  background-color: #e0e8f8;
  /* box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.4); */
  font-size: 1.6rem;
  border: none;
  padding: 0.3rem 3rem;
  border-radius: 3px;
  transition: all 0.3s;
}

.cta-btn:hover {
  cursor: pointer;
  background-color: #e0e8f8;
  background-color: #f2aaaa;
}

.cta-response {
  font-size: 1.4rem;
  line-height: 1.2;
  color: #e0e8f8;
  font-family: inherit;

}

.cta-form *:focus {
  outline: none;
  box-shadow: 0 0 0 0.8rem #b62e0f;
}


/* ------------------------ */
/* FOOTER */
/* ------------------------ */

.footer {
  padding: 9.6rem 0;
  background-color: #e0e8f8;
  /* border-top: 1px solid #e0e8f8; */
}

.footer--grid {
  display: grid;
  grid-template-columns: 1fr 1.5fr 1fr;
  gap: 8rem;
  align-items: center;
  justify-items: center;
}

.footer--contact-col {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.address {
  font-size: 1.8rem;
  line-height: 1.2;
}

.djs-logo--footer {
  max-width: 30rem;
}

.social-links {
  display: flex;
  gap: 1.6rem;
  justify-content: center;
  list-style: none;
  margin-bottom: 1.6rem;
}

.social-icon {
  font-size: 2.6rem;
  color: #333;
}

.social-icon:hover {
  color: #b62e0f;
}

.copyright {
  font-size: 1.2rem;
  text-align: center;
  margin-bottom: 4.8rem;
}

.footer--newsletter--heading {
  color: #183d5d;
  font-weight: 600;
  font-size: 2rem;
  margin-bottom: 1.2rem;
}

.newsletter--message {
  font-size: 1.4rem;
  margin-bottom: 1.6rem;
}

.newsletter-sign-up--label {
  display: block;
  font-size: 1.4rem;
  color: #183d5d;
  margin-bottom: 0.6rem;
  font-weight: 600;
}

.newsletter-sign-up {
  display: flex;
  border: 2px solid #183d5d;
}

.newsletter-sign-up input {
  border: none;
  flex-shrink: 1;
  width: 100%;
}

.newsletter-sign-up button {
  border: none;
  border-left: 2px solid #183d5d;
  background-color: #183d5d;
  color: #fff;
  padding: 0.5rem 1.5rem;
  cursor: pointer;
  flex-shrink: 0;
  font-weight: 600;
  transition: all 0.3s;
}

.newsletter-sign-up button:hover {
  background-color: #e0e8f8;
  color: #183d5d;
}